<!DOCTYPE html>
<html>
<head>
  <title>White Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  {{> _header}}
  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>